
@font-face {
  font-family: 'readingsans';
  src: url('readingsans.eot?#iefix') format('embedded-opentype'),  url('readingsans.woff') format('woff'), url('readingsans.ttf')  format('truetype'), url('readingsans.svg#readingsans') format('svg');
  font-weight: normal;
  font-style: normal;
}
