/* Typography */
$line-height     : 26px;
$serif-stack     : 'times new roman', times, georgia, serif;
$sans-serif-stack: 'NimbusRomanDOT-Regular', 'times new roman', times, georgia, serif;
$font-size-small       : 12px;
$line-height-small     : 16px;
$font-size-large       : 15px;
$line-height-large     : 19px;
/* Color */
$background-color: #fff;
/* Space */
$black           : #000;
$border-width    : 1px;
$grey            : #bcbabc;

/* Breakpoints */
$breakpoints     : ( 'small': (max-width: 700px), 'medium': (max-width: 1000px), 'large': (max-width: 1600px), 'short': (max-height: 700px), );
