@font-face {
  font-family: 'readingsans';
  src: url('readingsans-Italics.eot?#iefix') format('embedded-opentype'), url('readingsans-Italics.woff') format('woff'), url('readingsans-Italics.ttf') format('truetype'), url('readingsans-Italics.svg#readingsans-Italics') format('svg');
  font-weight: normal;
  font-style: italic;
}
